.app.dark{
    background-color: #171616;
    color: rgb(156, 156, 156);
    font-family: "Raleway", sans-serif;

    //chart 
    .chartGrid{
        stroke: rgba(228, 228, 288, 0.215);
    }

    //table 
    .table{
        background-color: #171616;

        .simple table{
            color: #171616;
        }

        .tableCell{
            color:rgb(186, 185, 185);
        }
    }

    .navbar {
        .nav-wrapper {
            .search {
                input{
                    color: white;
                }
            }
        }
    }

    .dropdown {
        background-color: #333;
        color: #F9F6EE;
    }

    .dropdown::before{
        background-color: #333;
    }

   


    //Sidebar 
    .sidebar{
        background-color: rgba(30, 30, 30, 1) ;
        border-color: #333;
        color: rgba(174, 174, 174, 1);

        .top{
            .logo{
                color: #1e8fffd6;
            }
        }

        ul{
            li{
                &:hover{
                    background-color: #333;
                }
            }
        }

        .custom-link{
            color: rgba(174, 174, 174, 1);
        }
    }

     //Navbar
     .navbar{
        color: #F9F6EE;
        border-color: #333;
        
        .search{
            border-color: gray;
        }
    }

     //Datatable
     .datatable{
        .datatableTitle{
            color: #F9F6EE;

            .link{
                background-color: #136bb4;
                color: #F9F6EE;
            }
        }
        
        .datagrid{
            color:rgb(186, 185, 185);
            border: none;

            .MuiDataGrid-columnHeader {
                background-color: black;
                color: rgb(213, 212, 212) ;
                border: none;
            }

            .MuiTablePagination-root{
                color: #F9F6EE;
            }
        }
    }

    //Widget
    .widget{
        background-color: #2D2D2D;

        .left{

            .title{
                color: #FFFFFF;
                font-weight: 200     ;
            }

            .counter{
                color:  #FFFFFF;
            }
        }

        .right{

            .percentage{

                &.positive{
                    color: lightgreen;
                }

                &.negative{
                    color: lightcoral;
                }
            }

            .wid-icon{
                background-color: #136bb4;
            }
        }
    }

    .new{
        .newContainer{

            .top{
                color: #F9F6EE;
            }
            
            .formInput{
                label{
                    color: #F9F6EE;
                }
            }

             
        }
    }


    .listContainer{

        .listTitle{
            color: #fff5ea;
        }
    }

    .featured{
        background-color: #2D2D2D;

        .top{
            .title{
                color: #F9F6EE;
            }
        }

        .bottom{
            color: #F9F6EE;

            .title{
                color: #F9F6EE;
            }

            .desc{
                color: #F9F6EE;
            }

            .summary{

                .item{
                    .itemTitle{
                        color: #F9F6EE;
                    }
                } 
            }
        }
    }
}


   


   
    
    

    

    

   




