@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.sidebar {
    font-family: "Raleway", sans-serif;
    background-color: #FFFFFF;
    flex: 1;
    border-right: 0.5px solid rgba(255, 255, 255, 1);
    min-height: 100vh;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bolder;
            color: rgba(43, 54, 116, 1);
        }
    }

    .custom-link{
        text-decoration: none;
        color: black;
    }
}



.center {
    padding-left: 10px;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;



        .title-1 {
            margin-top: 50px;
        }

        .title {
            margin-top: 15px;
            margin-bottom: 5px;
        }

        
        li {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            
            &:hover {
                background-color: #ece8ff;
            }

            .icon {
                font-size: 18px;
            }

            span{
                font-size: 14px;
                font-weight: 600;
                font-family: "Lato", sans-serif;
                margin-left: 10px;
            }
        }
    }

    .bottom {
            display: flex;
            align-self: center;
            margin: 10px;
    }
}



hr {
    width: 100%;
    border: 0.5px solid #ccc;
    margin-bottom: 15px;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 2em;

    

    .profile-mode {
        display: flex;
        flex-direction: column;
    
        gap: 10px;
        width: 100%;
        margin-bottom: 15px;

        .profile, .mode {
            
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 600;
            color: black;
            cursor: pointer;


            i {
                font-size: 18px;
            }

            &:hover {
                background-color: #ece8fd;
            }
        }
    }

    .logout-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f4f4f4;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        width: 90%;
        max-width: 200px;
        margin-top: 4em;

        &:hover {
            background-color: #ece8fd;
        }

        .logout-icon {
            margin-left: 10px;
        }
    }
}
