.sidebar {
  font-family: "Raleway", sans-serif;
  background-color: #FFFFFF;
  width: 250px;
  min-height: 100vh;
  border-right: 0.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;

  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bolder;
      color: rgba(43, 54, 116, 1);
    }
  }

  .custom-link {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;

    li {
      display: flex;
      align-items: center;
      padding: 10px 8px;
      cursor: pointer;
      margin-top: 2px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #ece8ff;
      }

      .icon {
        font-size: 18px;
        color: rgba(43, 54, 116, 1);
      }

      span {
        font-size: 14px;
        font-weight: 600;
        font-family: "Lato", sans-serif;
        margin-left: 10px;
      }
    }
  }

  .center {
    padding: 0 15px;
    flex: 1;
    overflow-y: auto;

    .title-1 {
      margin-top: 50px;
    }

    .title {
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  hr {
    border: 0.5px solid #ccc;
    width: 100%;
    margin: 10px 0;
  }

  .bottom {
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;

    .profile-mode {
      ul {
        width: 100%;
      }
    }
  }
}
