@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.dashboard {
    font-family: "Raleway", sans-serif;
    display: flex;
    

    .dashboardContainer {
        flex: 6;
        background-color: #EFF4FB;

        .first-layer, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;  
        }

        .listContainer {
            -webkit-box-shadow: -2px 7px 18px -8px #000000; 
            box-shadow: -2px 7px 18px -8px #000000;
            padding: 20px;
            margin: 20px;

            .listTitle{
                font-weight: 500;
                color: rgba(43, 54, 116, 1);
                margin-bottom: 15px;
            }
        }
    }
}