.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .nav-wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .search{
            display: flex;
            align-items: center;
            border: 2px solid lightgrey;
            padding: 3px;
            border-radius: 100px;

            input{
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin-right: 25px;


                .nav-icon{
                    font-size: 21px;
                    cursor: pointer;
                }

                .avatar{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}