.disposal {
    display: flex;
    

    .disposalContainer { 
        flex: 6;
    }

    .disposalTitle{
        padding: 20px;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        width: 100%;
        font-size: 24px;
        color: rgba(43, 54, 116, 1);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}
    

.requests-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .tabs button.active {
    background-color: #4caf50;
    color: white;
  }
  
  .requests-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .requests-table th,
  .requests-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .requests-table th {
    background-color: #f4f4f4;
  }
  
  .request-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .status {
    font-weight: bold;
  }
  
  .status.approved {
    color: green;
  }
  
  .status.rejected {
    color: red;
  }
  