.dropdown {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 2.5rem;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    

    .custom-link {
        text-decoration: none;
        color: #555;
    }

    .dropdown_wrapper {
        flex-direction: column;
        gap: 4px;
        list-style-type: none; 
        padding: 0;       
        right: 15px;
        margin-bottom: 5px;
        font-size: 15px;
        

        .first_child {
            margin-top: -15px;
            margin-bottom: 15px;
            font-weight: bold;
            cursor: pointer;
        }

        .first_child:hover,
        .mid_child:hover,
        .last_child:hover {
            background-color: #90cdf4; 
            
        }

        .mid_child {
            margin-bottom: 15px;
            font-weight: bold;
            cursor: pointer;
        }

        .last_child {
            font-weight: bold;
            cursor: pointer;
        }
    }
}


